a {
  text-decoration: none !important;
  color: inherit !important;
}

.quantity {
  display: inline-block;
  width: 40px;
}

.shadow-self {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.cart-item-container {
  background-color: rgba(246, 246, 246, 0.518);
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.loader-overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6) !important;
  z-index: 2;
}

.loader-overlay>svg {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.user-profile-info-card {
  width: 75%;
  margin: auto;
  padding: 20px;
  color: black;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.star-color {
  color: #FFDF00 !important;
}

.css-iljtu2-MuiRating-root {
  color: #FFDF00 !important;
}

textarea {
  outline: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 15px;
}